<style>
    footer {
        /* background-color: rgba(0, 0, 0, 0.25); */
        color: #000;
        padding: 15vh;
        /* height: 350px; */
        position: relative;
        color: whitesmoke;
        font-size: 2em;

    }

    footer a {
        text-decoration: none;
        color: whitesmoke;
        padding: 10px;
    }

    footer a:hover {
        text-decoration: underline;
        text-decoration-color: #FFF;
        background-color: rgba(256, 256, 256, 0.15);
        border-radius: 10px;

    }

    footer .socialIcons {
        /* display: block; */
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-size: 1.5em;
        padding: 10px 10px 10px 10px;
    }


    footer .socialIcons:hover {}

    footer .centerd {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<footer>
    <div class="centerd">
        <div class="left">
            <a href="tel:+33768583535">
                <i class="fa fa-solid fa-phone socialIcons" style="translate: 0px 5px;"></i>
                +33 7 68 58 35 35
            </a> <br>
            <a href="mailto:daan@vanramshor.st">
                <i class="fa fa-solid fa-envelope socialIcons" style="translate: 0px 5px;"></i>
                daan@vanramshor.st
            </a>
        </div>
        <div class="right">
            <a href="https://www.linkedin.com/in/daanvanramshorst/">
                <i class="fa fa-brands fa-linkedin socialIcons" style="translate: 0px 2px;"></i>
                LinkedIn
            </a><br>
            <a href="https://api.mapbox.com/styles/v1/daanvr/cjuplq0zm2yia1fmteirkrvcd.html?title=view&access_token=pk.eyJ1IjoiZGFhbnZyIiwiYSI6ImNpdTJmczN3djAwMHEyeXBpNGVndWtuYXEifQ.GYZf7r9gTfQL3W-GpmmJ3A&zoomwheel=true&fresh=true#5.27/48.229/4.821/0/1">
                <i class="fa fa-map-marker-alt socialIcons"
                    style="translate: 0px 3px; "></i> The Netherlands & France
            </a>
        </div>
    </div>

</footer>


